.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .card {
    transition: transform 0.2s;
    overflow: hidden; /* Pour éviter que le contenu ne déborde */
  }

  .card:hover {
    transform: scale(1.02); /* Effet d'agrandissement au survol */
  }

  .card-img-top {
    height: 400px; /* Ajustez la hauteur de l'image selon vos besoins */
    object-fit: cover; /* Pour s'assurer que l'image couvre bien l'espace sans être déformée */
  }

  .list-group-item ul {
    padding-left: 20px; /* Ajout de marge pour les listes */
  }

  .list-group-item li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
  }

  .card-body ol {
    padding-left: 20px; /* Ajout de marge pour les listes */
  }

  .card-body li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
  }
