/* Navbar.scss */

/* Menu déroulant des recettes par catégories */
.dropdown-menu-custom {
  margin: 0 !important;
  width: 100%;
  padding: 0; /* Retirer le padding */
  background-color: #ffffff; /* Changer la couleur de fond */
  border: 1px solid #dddddd; /* Changer la couleur de la bordure */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;

  @media (min-width: 992px) {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* Grille pour les recettes par catégories */
.row-custom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 10px; /* Ajouter un peu d'espacement du bord */

  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

/* Style des éléments du menu déroulant des recettes par catégories */
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px;
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  text-decoration: none;
}

/* Style du survol des éléments du menu déroulant des recettes par catégories */
.dropdown-item:hover {
  width: 100% !important;
  color: #ffffff !important;
  background-color: #0d6efd !important;
  border-radius: 5px;
}

/* Style du clic sur les éléments du menu déroulant des recettes par catégories */
.dropdown-item:active {
  color: red;
}
