// Custom
body {
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%; // Utiliser 100% pour la pleine largeur
  }

.navbar {
margin-bottom: 20px;
}

footer {
margin-top: 20px;
padding: 10px 0;
background-color: #e1dfdf;
}

.app-container {
width: 100%;
margin: 0;
padding: 0;
}
